@media (max-width: 600px) {
  #welcome-section {
    width: 100%;
    float: none;
  }

  #navbar {
    width: 100%;
    position: relative;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom right, #caf0f8, #00b4d8);
  color: #03045E;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", serif;
  font-weight: 700;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

#navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar ul {
  width: 30%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-circle {
  font-size: 7px;
  color: #0077B6;
}

#navbar li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #03045e;
  font-size: 1.25rem;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

#navbar li a:hover {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

#home p {
  font-size: 1rem;
}

#intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: translateX(50%);
  transition: all 0.5s ease-in-out;
}

#second-intro {
  transform: translateX(-300%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 70%;
  text-align: left;
  font-weight: 600;
}

#second-intro p {
  font-size: 1.5rem;
  line-height: 2rem;
}

#profile-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

#profile-pic {
  height: 40rem;
  border: 5px solid #0077B6;
}

.scrolled .content-wrapper {
  justify-content: flex-start;
}

.scrolled #intro {
  opacity: 0.7;
  transform: translateX(0);
}

.scrolled #second-intro {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.scrolled #profile-details {
  opacity: 1;
  transform: translateX(0);
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  flex: 1;
  padding: 10px 100px;
}

.about-text p {
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: justify;
}

.timeline {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-container {
  position: relative;
  padding-left: 20px;
  height: 100%;
}

.timeline-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #e0e0e0;
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 0;
  background-color: #00b4d8;
  transition: height 1s ease-out;
}

.timeline-item {
  margin-bottom: 50px;
  padding-left: 20px;
}

.timeline-item h3 {
  margin: 0;
  font-size: 1.5rem;
}

.timeline-item p {
  margin: 5px 0 0;
  font-size: 1.2rem;
  color: #555;
}

#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.card-wrap {
  perspective: 800px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}

.card {
  position: relative;
  width: 20vw;
  height: 15vw;
  background-color: #333;
  border-radius: 10px;
  transition: transform 0.3s ease-out;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.card-bg {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease-out;
}

.card-info {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  padding: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

#contacts {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-left, .contacts-right {
  flex: 1;
  height: 50vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 20vw;
  padding: 10px;
  margin: 10px;
  border: none;
  text-decoration: none;
  border-bottom: 1px solid #03045E;
  background: transparent;
}

.form-input:focus {
  outline: none;
  border-bottom: 1px solid #03045E;
}

.form-input::placeholder {
  color: #03045E;
}

textarea {
  resize: none;
  height: 10vh;
  text-align: justify;
}

.button {
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 10px;
  background-image: linear-gradient(to bottom right, #03045E, #0077B6);
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-image: linear-gradient(to bottom right, #0077B6, #03045E);
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-link {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  color: #03045E;
}

.social-link:hover {
  color: #0077B6;
  transform: scale(1.1);
}
